<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-primary" href="/admin/categories/new">Criar Nova Categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category =>{ %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/categories/delete" style="display:inline;"
                            onsubmit="confirmarExclusao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>

                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>

<script>
    //criando uma função (sistema de segurança) para pedir para usuário se realmente ele quer excluir?
    function confirmarExclusao(event, form) {
        event.preventDefault(); //preventDefault -> impede a submissão do formulário
        var decision = confirm("Deseja realmente excluir a categoria?");
        if (decision) {
            form.submit();
        }
    }
</script>